# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
#Carregando arquivo
arquivo_json = "dados_compras.json" 

#Arquivo em pandas
dados_compras = pd.read_json(arquivo_json, orient = "records")

#Primeiras 5 linhas
dados_compras.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [3]:
dados_demograficos = dados_compras.loc[:, ['Sexo', 'Login', 'Idade']]
dados_demograficos

          Sexo         Login  Idade
0    Masculino     Aelalis34     38
1    Masculino        Eolo46     21
2    Masculino   Assastnya25     34
3    Masculino  Pheusrical25     21
4    Masculino        Aela59     23
..         ...           ...    ...
775  Masculino       Eural50     22
776  Masculino    Lirtossa78     14
777  Masculino    Tillyrin30     20
778  Masculino    Quelaton80     20
779   Feminino        Alim85     23

[780 rows x 3 columns]

In [4]:
#Limpeza de dados e remoção de duplicatas
dados_limpos = dados_demograficos.drop_duplicates()
total_consumidores = dados_limpos.count()

total_consumidores

Sexo     573
Login    573
Idade    573
dtype: int64

In [5]:
#Número total de consumidores
pd.DataFrame({"Total de Consumidores" : [total_consumidores]})

                               Total de Consumidores
0  Sexo     573
Login    573
Idade    573
dtype: ...

## Análise Geral de Compras

In [6]:
#Preço médio da compra
preco_medio_item = dados_compras['Valor'].mean()

#Número total de compras
total_compras = dados_compras['Valor'].count()

#Rendimento total
rendimento_total = dados_compras['Valor'].sum()

#Itens exlusivos
itens_exclusivos = len(dados_compras['Item ID'].unique())

analise_geral_compras = pd.DataFrame({'Itens Exclusivos' : itens_exclusivos,
                                      'Preço Média da Compra' : [preco_medio_item],
                                      'Número Total de Compras' : total_compras,
                                      'Rendimento Total' : rendimento_total})

analise_geral_compras

,Itens Exclusivos,Preço Média da Compra,Número Total de Compras,Rendimento Total
0,183,2.931192,780,2286.33

## Informações Demográficas Por Gênero

In [7]:
#Panorama dos compradores
dados_limpos['Sexo'].value_counts()

Masculino                465
Feminino                 100
Outro / Não Divulgado      8
Name: Sexo, dtype: int64

In [8]:
#Número de compradores masculinos, femininos e outro/não divulgado
masculino = 0
feminino = 0
outro = 0
for elemento in dados_limpos['Sexo']:
    if elemento == 'Masculino':
        masculino += 1
    elif elemento == 'Feminino':
        feminino += 1
    else:
        outro += 1
        
print(masculino)
print(feminino)
print(outro)

465
100
8

In [9]:
#Porcentagem de compradores masculinos, femininos e outro/não divulgado
total = masculino + feminino + outro

masculino_p = (100 * masculino) / total
feminino_p = (100 * feminino) / total
outro_p = (100 * outro) / total

print(masculino_p)
print(feminino_p)
print(outro_p)

81.15183246073299
17.452006980802793
1.3961605584642234

In [10]:
analise_demografica = pd.DataFrame({'Compradores Masculinos' : [masculino],
                                    'Porcentagem Compradores Masculinos' : [masculino_p],
                                    'Compradores Femininos' : [feminino],
                                    'Porcentagem Compradores Femininos' : [feminino_p],
                                    'Compradores Outros/Não Divulgados' : [outro],
                                    'Porcentagem Compradores Outro/Não Divulgado' : [outro_p]})

analise_demografica

,Compradores Masculinos,Porcentagem Compradores Masculinos,Compradores Femininos,Porcentagem Compradores Femininos,Compradores Outros/Não Divulgados,Porcentagem Compradores Outro/Não Divulgado
0,465,81.151832,100,17.452007,8,1.396161

## Análise de Compras Por Gênero

In [11]:
#Número de compras
numero_compras = dados_compras.groupby(['Sexo']).count()['Valor']

#Preço médio da compra
preco_medio = dados_compras.groupby(['Sexo']).mean()['Valor']

#Valor total de compras
valor_total = dados_compras.groupby(['Sexo']).sum()['Valor']

In [12]:
numero_compras

Sexo
Feminino                 136
Masculino                633
Outro / Não Divulgado     11
Name: Valor, dtype: int64

In [13]:
preco_medio

Sexo
Feminino                 2.815515
Masculino                2.950521
Outro / Não Divulgado    3.249091
Name: Valor, dtype: float64

In [14]:
valor_total

Sexo
Feminino                  382.91
Masculino                1867.68
Outro / Não Divulgado      35.74
Name: Valor, dtype: float64

## Consumidores Mais Populares (Top 5)

In [39]:
#Login e valor total de compras
login_compras = dados_compras.groupby(['Login']).sum()['Valor'].rename('Valor Total de Compras')

#Número de compras
numero_de_compras = dados_compras.groupby(['Login']).count()['Valor'].rename('Número de Compras')

#Preço médio da compra
preco_medio_compra = dados_compras.groupby(['Login']).mean()['Valor'].rename('Preço Médio')

In [40]:
#Tabela 5 principais consumidores
tabela = pd.DataFrame({'Valor Total de Compras':login_compras, 'Número de Compras':numero_de_compras, 'Preço Médio':preco_medio_compra})
tabela.sort_values('Valor Total de Compras', ascending=False).head(5)

             Valor Total de Compras  Número de Compras  Preço Médio
Login
Undirrala66                   17.06                  5     3.412000
Saedue76                      13.56                  4     3.390000
Mindimnya67                   12.74                  4     3.185000
Haellysu29                    12.73                  3     4.243333
Eoda93                        11.58                  3     3.860000

## Itens Mais Populares

In [42]:
#Login e valor total de compras
item_compras = dados_compras.groupby(['Nome do Item']).sum()['Valor'].rename('Valor Total de Compras')

#Número de compras
numero_de_compras_item = dados_compras.groupby(['Nome do Item']).count()['Valor'].rename('Número de Compras')

#Preço médio da compra
preco_medio_compra_item = dados_compras.groupby(['Nome do Item']).mean()['Valor'].rename('Preço Médio')

In [44]:
#Tabela pelo número de compras
tabela_item = pd.DataFrame({'Valor Total de Compras':item_compras, 'Número de Compras':numero_de_compras_item, 'Preço Médio':preco_medio_compra_item})
tabela_item.sort_values('Número de Compras', ascending=False).head(5)

,Valor Total de Compras,Número de Compras,Preço Médio
Nome do Item,,,
Final Critic,38.60,14,2.757143
Arcane Gem,24.53,11,2.230000
"Betrayal, Whisper of Grieving Widows",25.85,11,2.350000
Stormcaller,34.65,10,3.465000
Woeful Adamantite Claymore,11.16,9,1.240000

## Itens Mais Lucrativos

In [45]:
#Tabela pelo valor total de compras
tabela_item.sort_values('Valor Total de Compras', ascending=False).head(5)

,Valor Total de Compras,Número de Compras,Preço Médio
Nome do Item,,,
Final Critic,38.60,14,2.757143
Retribution Axe,37.26,9,4.140000
Stormcaller,34.65,10,3.465000
Spectral Diamond Doomblade,29.75,7,4.250000
Orenmir,29.70,6,4.950000

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>